

:root{
  --cor-secundaria: rgb(54, 81, 54)
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  color: white;
}

body{

  background-image: url("/Imagens/Logo\ etma.jpg") ;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}


.material-symbols-sharp {
  padding: 0.2em ;
  border: 1px solid black;
  border-radius:8px;
  margin: 0 ;
  background: black;
  width:20%;
  
}


.material-symbols-outlined{

padding: 0.2em ;
border: 1px solid black;
border-radius: 8px;
margin: 0.5em ;
background: black;

 
}
.cabecalho__lista{
  position: absolute;
  z-index: +5;   
  display: block;
  left: -100vw;
  padding-left: 0.5em;   
  width: 35%;
  border-radius: 5px;
  background-color:black;
  transition: 1s;
}

.cabecalho__lista__active{
 
 left: 0;
 transition: 1s;
 filter: opacity(0.9);

}

.cabecalho__lista__item{
 
  display: flex;
  align-items: center;
  gap: 0.01em;
  padding: 1em 0.5em;

}

.cabecalho__lista__link{
  text-decoration: none;
  color: white;
  cursor: pointer;
 
}

.cabecalho__lista__link:active{
  font-size: 1.3em;
 
}




/*---------------------------------------------------------------------------*/

.principal{
  position: absolute;
  z-index: 0 ;
  width: 100%; 
  height: 90%; 
  
  font-size: 0.8em;
  
  
  
}

.titulo{
 position: relative;
 padding: 5vw;
 margin-top: 5vw;
 margin-bottom: 5vw;
 text-align: center;
 font-size: 18px;
 background-color: black;
}

.swiper {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  box-sizing: border-box;
  width: 80vw;
  height: 75vw;
  
}





.swiper-slide {
  display: flex;
  flex-direction: column;
  
  text-align: center;
  
  background:var(--cor-secundaria);
  padding:0;
  margin-bottom: 0.5em;
  height: 60vw;
  border-radius: 16px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
 
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-active{
  display: flex;
  flex-direction: column;
  
  text-align: center;
 
  background:var(--cor-secundaria);
  padding:0;
  margin-bottom: 0.5em;
  height: 60vw;
  border-radius: 16px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
 
  -webkit-box-pack: center;
  -ms-flex-pack: center;
 
   gap:0.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  position: relative;
  display: block;
  width: 80%;
  height: 90%; 
  object-fit: cover;
  border-radius: 16px;
 
}

.swiper-img{
  width: 100vw;
  height: 55vw;
}

.card{
  display: flex;
  width: 100%;
}

.swiper-descricao{
  display: flex;
  flex-direction: column;
  width: 100%;  
  gap: 1em;
  padding: 0.5em;
  text-align: left;
  font-size: 10px;
  
}

.botao{
  text-decoration: none;
  background-color: black;
  width: 6em;
  height: 1em;
  padding-top: 1em;
  text-align: center;
  
  
}

.botao-link{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.2em 0.2em;
  
  
}
.botao-link:active{
  text-decoration: none;
  color: white;
  font-size: 8px;
  
}

.descricao-titulo{
  font-size: 14px;
  border-bottom: 1px solid silver ;
}

.trator-imagem{
  
  width: 50%;
  padding-left: 25vw;
}

.formulario{
  width: 20vw;
  padding-left: 25vw;
  
}

.container-formulario{
  display: flex;
  flex-direction: column;
}

.container-frete{
  display: flex;
  justify-content: space-between;
  padding-left: 25vw;
  font-size: 8px;
  
  
} 

.container-titulo-img{
  background-color: black;
  margin-right: 60vw;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid white;
}

.calc-frete{
  width: 10em;
  margin: 1em 0;
  
}
.alugar{
  padding: 1em 0;
  margin: 0 25vw;
  width: 10em;
  background-color: rgb(117, 16, 16);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  border: 1px solid rgb(117, 16, 16);
}

.alugar:active{
  font-size: 20px;
}
